.page-content {
    width: min(1440px, 100%);
    min-height: calc(100vh - 64px);
    margin: 0 auto;
    padding: 3rem;
}

@media (max-width: 959px) {
    .page-content {
        padding: 1.5rem;
    }
}

@media (max-width: 599px) {
    .page-content {
        padding: 1rem;
    }
}
